/*
 * CSS Reset
 *
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
  background-color: #F9FBFD;
}
body{
  height:100%;
}
/*
 *
 * Header
 *
 */
 @media (min-width: 1000px) 
 {
  .header__background{
    height: 300px !important;
  }
 }
 .header__background{
    width: 100%;
    position: relative;
    background-image: url("../img/main_bg.jpg");
    background-size: cover;
    height: 200px;
    box-shadow: 4px 8px 20px 0 rgba(120,135,182,.1);
  }
  .header__profile{
    display: block;
    border:white solid 4px;
    border-radius: 50%;
    position: relative;
    height: 120px;
    width: 120px;
    margin: auto;
    margin-top: -55px;
    box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
  }
  .header__profile_icon{
    display: block;
    position: relative;
    border:white solid 2px;
    border-radius: 50%;
    width: 42px;
    margin-top: -31px;
    margin-left: 51%;
    transform: rotate(-40deg);
    z-index: 2;
  }
  .header__title{
      text-align: center;
      padding-top: 20px;
  }
  .header__title h1{
    color: #525c65;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header__title h3{
    color:#e77913;
    font-family: Times New Roman, Times, serif;
  }
  hr{
    height: 2px;
    border: 0;
    width: 80%;
    box-shadow: 0 10px 10px -10px #e77913 inset;
  }

 /*
  *
  * Main Page
  * 
  */
  main h1{
    color: #e77913;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
  }
  a{
    color: #e77913;
    text-decoration: none;
  }
  a:hover h2{
    color: #e77913;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
  }
  .container_item{
    padding-top: 25px;
    margin: auto;
    transition: 2s;
  }
  .container_item img{
    width: 260px;
    height: 180px;
    object-fit: contain;
    transition: 1s;
    box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
  }
  .container_item img:hover{
    transform: scale(1.1);
    margin-bottom: 10px;
  }
  .container h2{
    color: #525c65;
  }
  .container_item h2{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*
  *
  * Footer
  * 
  */
.footer{
  display: flex;
  flex-wrap: wrap;
  background-color: #525c65;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.footer a{
	background: #D2D7D3;
	color: #222;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	position: relative;
	width: 40px;
	height: 28px;
	margin: auto;
	padding-top: 12px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.footer a.icon:before{
	font-family: "FontAwesome", sans-serif;
	color: #fff;
	font-size: 20px;
}
.footer a.facebook:before{
	content: '\f09a';
}
.footer a.instagram:before{
	content: '\f099';
}
.footer a.github:before{
	content: '\f113';
}

.footer a span{
	background: #fff;
	color: #222;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: -25px;
	right: -25px;
	padding: 5px 7px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .4s;
	transition: all .4s;
}
.footer a span:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	position: absolute;
	bottom: -5px;
	left: 40px;
}
.footer a:hover span{
	bottom: 50px;
	visibility: visible;
	opacity: 1;
}

/* hover over the icons now to see the tooltips! */
.footer a.facebook:hover{
	background-color: #4183d7;
	color: #bfbfbf;
}
.footer a.facebook span{
	color: #4183d7;
}
.footer a.fa-instagram:hover{
	background-color: #b11b66;
	color: #fff;
}
.footer a.fa-instagram span{
	color: #b11b66;
}
.footer a.github:hover{
	background-color: #000;
	color: #fff;
}
a.github span{
	color: #000;
}
